<!-- <meta HTTP-EQUIV="REFRESH" content="10";> -->
<script type="text/JavaScript">

function timedRefresh(timeoutPeriod) {
  setTimeout("location.reload(true);",timeoutPeriod);
  
}

window.onload = timedRefresh(10000);

</script>
<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
    </div>
    
    <div class="col-md-6">
      <h1><%= @user.profile.first_name %>  <%= @user.profile.last_name %></h1> <br>
      <h3><span class="health-band-icon"><%= health_band_icon %></span> Tracking Health via <%= @user.profile.health_band %></h3>
      <div class="well profile-block profile-contact-info">
        <h3 class="text-center">Contact Information</h3> <br>
        <h4>Phone Number: <%= @user.profile.phone_number %> </h4>
        <h4>Age: <%= @user.profile.age %></h4>
        <h4>Height: <%= @user.profile.height_feet %>' <%= @user.profile.height_inches %>''</h4>
        <h4>Contact Email: <%= @user.profile.contact_email %></h4>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="well profile-block profile-health-info">
        <h3 class="text-center">Realtime Health Data</h3><br>
        <!-- <i class="fa fa-heartbeat"></i> -->
        <h4>Zone: <%=@zone_name%></h4>
        <h4>BPM Range: <%= @min %>BPM - <%= @max %>BPM</h4>
        <h4>Time in range: <%=@minutes_in_zone%> mins</h4>
        <h4>Calories count: <%=@calories_count%></h4>
        <h4>Footstep count:</h4>
        <h4>Skip Temperature:</h4>
      </div>
    </div>
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well profile-block profile-location-info">
        <h3 class="text-center">Realtime Indoor Location</h3><br>
        <!-- <i class="fa fa-heartbeat"></i> -->
        <h4>Indoor Location: <%= @beacon_location %></h4>
        <h4>Proximity: <%= @beacon_proximity %></h4>
        <h4>Beacon Rssi: <%=@beacon_rssi%> dBm</h4>
        <h4>Beacon Tx: <%=@beacon_tx%> dBm</h4>
        <h4>Beacon Accuracy: <%= @beacon_accuracy %></h4>
        <h4>Beacon UUID: <%= @beacon_uuid %></h4>
        
        
      </div>
    </div>
    
  </div>
</div>
