<!-- <div class="container text-center">
<h1>About Us</h1>
<p>We are a team of students building location aware health emergency solutions for senior citizens.
Our academic mentors are Professor Xiao, Professor Zhu, and Professor Baurin.</p>
<p>We are utilizing Estimote proximity beacons to collect accurate location data
and Fitbit health tracking band to collect
health data. Our goal is to analyze health data such as heart rate for any abnormal signs and
proactively suggest senior citizens to take action. Our system will dispatch help in
case of emergency with health report and accurate location data.</p>
</div> -->

<div class="container">
  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <!-- <small>It's Nice to Meet You!</small> -->
      </h1>
      <h4>We are a team of students building location aware health emergency solutions for senior citizens.</h4>
    </div>
  </div>
  
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/farooqfaisal/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/p26ttVE.jpg" alt="">
      <% end %>
      <h3>Faisal Farooq
        <small>Electrical Engineering</small>
      </h3>
      <!-- <%= link_to '#', target: "_blank" do %>
      <%= image_tag 'linkedin.png', :class => 'social-button' %>
      <% end %> -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/stephen-oakey-51904561/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/WatWxcp.jpg" alt="">
      <% end %>
      <h3>Stephen Oakey
        <small>Electrical Engineering</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/aaron-almonte-seiffe-2230755a/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/0YKoN11.jpg" alt="">
      <% end %>
      <h3>Aaron Almonte
        <small>Electrical Engineering</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/md-rahman-59b8a411a/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/JtEVdMr.jpg" alt="">
      <% end %>
      <h3>Mostafiz Rahman
        <small>Electrical Engineering</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
    <div class="col-lg-12">
      <h2 class="page-header">Academic Mentors</h2>
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/jizhong-xiao-9a041b5/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/q1nuooH.jpg" alt="">
      <% end %>
      <h3>Professor Xiao
        <small>EE Dept. CCNY</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'http://www-cs.ccny.cuny.edu/~zhu/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/idkIMqD.jpg" alt="">
      <% end %>
      <h3>Professor Zhu
        <small>CS Dept. CCNY</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
    <div class="col-lg-4 col-sm-6">
      <%= link_to 'https://www.linkedin.com/in/bingoo/', target: '_blank' do %>
      <img class="img-circle img-responsive img-center" src="http://i.imgur.com/yT5IlDY.jpg" alt="">
      <% end %>
      <h3>Bing Li
        <small>PhD Candidate CCNY</small>
      </h3>
      <!-- <p>What does this team member to? Keep it short! This is also a great spot for social links!</p> -->
    </div>
  </div>
  
</div>
<!-- /.container -->
