<div class="home-callout text-center container-fluid">
  <h1>Welcome to RescueSenior</h1>
  <h3>We are a team of students building location aware health emergency solutions for senior citizens.</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well">
        <div class="text-center">
          <h2 class="text-center">Connect your health tracking device</h2>
          <% if current_user.profile %>
          <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "View your profile", user_path(current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
          <p>Create your profile to connect health device.</p>
          <%= link_to "Create profile and enable health tracking", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">
          Enable Location Tracking
        </h2>
        <p>Download our app. This will allow us to send help in case of emergency.</p>
        <%= link_to "Enable Beacon Location", 'https://creator.ionic.io/share/9be786b005a0', class: 'btn btn-default btn-lg btn-block', target: '_blank' %>
      </div>
    </div>
    <% else %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Connect Health Tracking</h2>
        <h4 class="text-center">Sign up and create a profile to get started.</h4>
        <br>
        <%= link_to "Sign up & create a profile", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Enable Location Beacon</h2>
        <h4 class="text-center">This will help us send help in case of emergency.</h4>
        <br>
        <%= link_to "Download app to allow tracking via beacon", 'https://creator.ionic.io/share/9be786b005a0', class: 'btn btn-success btn-lg btn-block', target: '_blank' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div id="feature">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>Rescue Senior Intro Video</h3>
      </div>
      <p align="center"><iframe width="760" height="510" src="https://www.youtube.com/embed/SJVc9ZQ4wdY" frameborder="0" allowfullscreen></iframe></p>
    </div>
  </div>
</div>

<div id="feature">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3>How it works</h3>
        <p>Our system provides an end-to-end health monitring and tracking for senior citizens.</p>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-laptop"></i>
            <h2>Profile</h2>
            <p>Make an account and provide some profile details.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-heart-o"></i>
            <h2>Health Tracking</h2>
            <p>Integrate health fitness device to allow health monitoring.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-database"></i>
            <h2>Health Analytics</h2>
            <p>We process your health data to monitor your vitals.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="text-center">
          <div class="hi-icon-wrap hi-icon-effect">
            <i class="fa fa-medkit"></i>
            <h2>Emergency Help</h2>
            <p>In case of emergency we send help to you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner Download -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Subscribe to be a Rescuer</h2>
        <p class="lead" style="margin-top:0"></p>
        <!--<p><a class="btn btn-embossed btn-primary view" role="button">Sign up now</a></p>-->
        <p><%= link_to "Sign up now", new_rescuer_path, class: 'btn btn-embossed btn-primary view' %></p>
      </div>
    </div>
  </div>
</div>
